@keyframes fall {
    from {grid-column-gap: 20vw}
    to {grid-column-gap: 0}
}

@keyframes growOut {
    from {
        transform: scale(1);
        box-shadow: 0 0 grey;
    }
    to {
        transform: scale(1.5) translateY(-0.6em);
        box-shadow: 0 0.4em 0 hsla(15, 100%, 32%, 1);
    }
}

@keyframes pulsate {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

@keyframes jibble {
    0% {
        transform: rotate(0deg)
    }
    33.33% {
        transform: rotate(20deg)
    }
    66.66% {
        transform: rotate(-20deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

@keyframes move {
    from { top: 0; left: 0; }
    to   { top: 100px; left: 100px; }
}