.Block {
    height: 1em;
    width: 1em;
    transition: transform ease-in 400ms 100ms;
}

/*.Block:hover {*/
    /*box-shadow: 0 0 0.6em lightgrey;*/
    /*!*transform: rotateX(180deg);*!*/
    /*animation: pulsate 1.2s linear 400ms infinite;*/
/*}*/