@import './Animations.css';

.PlusScore {
    display: inline-block;
    width: auto;
    color: white;
    padding: 0.4em;
    margin-top: 2em;
    background-color: hsla(15, 100%, 48%, 1);
    border-radius: 0.5em;
    animation: growOut 1.5s ease-in-out 0.5s infinite;
}