@import './Animations.css';

.PlusScore {
    justify-self: stretch;
    color: white;
    padding: 0.4em;
    margin-top: 2em;
    background-color: hsla(15, 100%, 48%, 1);
    border-radius: 0.5em;
    animation: goUp 800ms ease-in-out 300ms infinite;
}